html {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  background-image: linear-gradient(rgb(71, 71, 71), rgb(34, 34, 34) 15%);
  color: white;
  text-align: center;
}

form{
  display: flex;
  justify-content: center;
}

#submit{
  margin-left: 0.5em;
  background-color: green;
}

.colored-button{
  color: white;
  border-radius: 0.25rem;
  padding: 0.5rem;
  border-style: none;
  box-shadow: 0.1rem 0.2rem rgb(16, 16, 16);
  margin: 0.2rem;
}

.colored-button:hover{
  filter: brightness(130%);
}

.colored-button:active{
  filter: brightness(75%);
  box-shadow: 0.05rem 0.1rem rgb(16, 16, 16);
  transform: translate(0.05rem, 0.1rem);
}

#delete-key, #clear-gifs{
  background-color: red;
}

#record-key {
  background-color: blue;
}